
.Zi {
    margin-right: 10px;
    margin-bottom: 3px;
}

#userName {
    margin-bottom: 0.2rem;
    padding-left: 2rem;
}

#myModal {
    top: 200px;

}

.modal-body {
    color: black;
}

#metamaskLogo {
    width: 35px;
    margin-left: 10px;
    margin-top: 3px;
}

#my_account a {
    margin-right: 20px;
}



body { padding-top: 120px; }

.dropdown-menu {
    margin-left: 160px;
}

